@import "variables";

html {
  display: flex;
  min-height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  *::after {
    box-sizing: inherit;
  }

  *::before {
    box-sizing: inherit;
  }
}

body {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  margin: 0;
  font-family: @base-font-family;
  line-height: @base-line-height;
  overflow-y: auto;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body.body--overflow {
  position: fixed;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

@media (min-width: @tablet-large) {
  body.body--overflow {
    position: static;
  }
}
