@import "../global/variables";

.social__list {
  padding-left: 0;
  list-style: none;
}

.social--row .social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.social__link {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(@black-color, 0.35);
  text-decoration: none;
  transition: opacity @animation-time @animation-timing-function;

  &:focus {
    opacity: 0.3;
  }
}

.social__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social--row .social__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social__text {
  margin: 0 0 22px 0;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}

@media (min-width: @iphone-x) {
  .social--row .social__item {
    margin-right: 30px;
  }

  .social__link:hover {
    opacity: 0.6;
  }

  .social__link:focus {
    opacity: 0.3;
  }
}

@media (min-width: @laptop-l) {
  .social__item--phone {
    display: none;
  }

  .social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 40px;

    &::after {
      content: attr(aria-label);
      display: inline;
      font-size: @base-font-size;
      color: @white-color;
    }
  }

  .social__link svg {
    position: static;
    transform: none;
    margin-right: 15px;
  }

  .social--row .social__item {
    margin-right: 15px;

    &:nth-last-child(2) {
      margin-right: 0;
    }
  }
}
